{% extends "base.html" %} -->

<div class="container">
    <div class="row">
    {% block title %}Welcome Back{% endblock %}
    {% block head %}Welcome, {{ user.first_name|upper }}{% endblock %}
    {% block content %}
    <div class="col-md-4"></div>
    <div class="container col-md-4">
        <h3>Success!</h3>
        You have added {{ object.player.name }},
        to the team {{ object.teamToJoin.name }}
        for user {{ object.requester.username }}.
          <!-- <input href="Team:confirmAskJoin" type="submit" value="Save" /> -->

      </div>
            <div class="col-md-4"></div>

    {% endblock %}
    </div>
 </div>