{% extends "base_leftSidebar.html" %}
{% block content %}
    {% for team in object_list %}
        <div class="col-sm-4 col-lg-4 col-md-4">
            <!-- <div class="thumbnail"> -->
                <h4><a href="{% url 'Team:detail' team.pk %}">{{ team.name }}</a></h4>
        </div>
    {% endfor %}
{% endblock %}
{% block sidebar %}
{#    TODO: make this look better, think up more content to put here. #}
    Put list of your clubs<br/>
<a href="{% url 'Team:new' %}">Create Your Own Club</a>
{% endblock %}
