{% extends "base.html" %} -->

<div class="container">
    <div class="row">
    {% block title %}Welcome Back{% endblock %}
    {% block head %}Welcome, {{ user.first_name|upper }}{% endblock %}
    {% block content %}
    <div class="col-md-4"></div>
    <div class="container col-md-4">
        <h3>This is the Team data entry form</h3>
        
        <form action="" class="form" method="POST">
          {% csrf_token %}
          <ul>
            {{ form.as_ul }}
          </ul>
          <input id="save_team" type="submit" value="Save" />
        </form>
      </div>
            <div class="col-md-4"></div>

    {% endblock %}
    </div>
 </div>