{% extends "base_leftSidebar.html" %}
{% block content %}
    {% for club in object_list %}
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <!-- <h5>in the {{ Team.zipcode }} zip code</h5> -->
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block sidebar %}
{#    TODO: make this look better, think up more content to put here. #}
    <!-- Put list of your clubs<br/> -->
<a href="{% url 'Team:new' %}">Create Your Own Team</a>
{% endblock %}
