{% extends "base_two_right_panes.html" %}
{% block content %}

    <h5><b>Club Name: </b>{{ team.name }}</h5>
    <h5><b>Club Description: </b></h5>
    <h5><b>Club Leader: </b> </h5>
    <div id='map'></div>
    <br />
{% endblock %}
{
{% with top_panel_name="Member List" %}
    {% block top_panel %}
        {% if player_list %}
            List of club's members
            <ul>
               {% for player in player_list %}
               <li> {{ player.name }}
               {% endfor %}
            </ul>
        {% else %}
        there are no players for this
        {% endif %}
    {% endblock %}
{% endwith %}

{% with bottom_panel_name="Member Requests" %}
    {% block bottom_panel %}
        {% if member and member_requests %}
        {% else %}
        {% endif %}
    {% endblock %}
{% endwith %}