{% extends "base.html" %}
{% block title %}User Registration{% endblock %}
{% block head %}User Registration{% endblock %}
{% block content %}

    <div class="col-lg-4 col-md-4"></div>
    <div class="container col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="row registerContent">
        <form method="post" action="." class="form-signin">{% csrf_token %}
            {% load widget_tweaks %}
            <h2 class="form-signin-heading">Please register below</h2>

            {%  render_field form.username|attr:"required autofocus" class+="form-control" placeholder+="Username" %}

            {%  render_field form.email|attr:"required" type+="email" pattern+="[^ @]*@[^ @]*" class+="form-control" placeholder+="Email Address" %}

            {%  render_field form.password1|attr:"required" id+="inputPassword" type+="password" class+="form-control" placeholder+="Password" %}

            {%  render_field form.password2|attr:"required" id+="inputConfirmPassword" type+="password" class+="form-control" placeholder+="Confirm Password" %}

                <button class="btn btn-lg btn-primary" type="submit" value="Login">Register</button>
                <input class="btn btn-default" type="hidden" name="next" value="/login" />
                <br />
                <br />
                <p>Already have an account? <a href="/login" type="submit" value="Login">Login.</a></p>
                <!-- <button class="btn btn-lg btn-default"  href="/login">Login</button> -->
            </div>
        </form>
        <br />
    </div>
    <div class="col-lg-4 col-md-4"></div>

    {% include "partial_base_footer.html" %}
{% endblock %}