{% extends "help_app/help_base.html" %}
{% block content %}
<h3>Clubs</h3>
<p>A club is essentialy a group of friends that share a common interest! At Magenta Backpack, you can create, and join, as many clubs as you would like!</p>

<strong>Joining A Club</strong>
<p>To join a club, click on the "Clubs" drop-down menu and select "All Clubs". You will be directed to a page that lists all current clubs on Magenta Backpack. Each club will have its zip code and a description of the club displayed. Click on a club that interests you and you will be directed to a more detailed page of that particular club. Click on the "Ask to Join this club" and write a brief statement as to why the club interests you. At this point, you must wait for the club leader to accept you into the club.</p>

<strong>Creating A Club</strong>
<p>To create a club, click on the "Clubs" drop-down menu and slect "Create A New Club". You will then be taken to the new club creation form. Fill in the requried fields and click "Save" to create your club! Afterwords, feel free to tell all of your friends!</p>

<strong>Editing A Club</strong>
<p>To edit a club, click on the "Clubs" drop-down menu. The menu will display all the clubs you are currently in. Click the club you want to edit (keep in mind, only a club leader can edit a club). You will be taken to the details page about that club. At the bottom of the details page you will see three color-coded options. Click the "Edit this club" option. A form will appear similar to the new club creation form, only now the information you entered when you created the club will be displayed. Edit any information as needed and click "Save".</p>

<strong>Deleting A Club</strong>
<p>Currently, a club cannot be deleted. This issue is being implemeted as quickly as possible.</p>


{% endblock %}

