{% extends "help_app/help_base.html" %}
{% block content %}
    <h3>Frequently Asked Questions</h3>
<strong>Q: What do I do when something I've lended does not get returned?</strong>

<p>A: Unfortunately, Magenta Backpack is a service that simply makes it possible for friends to connect and share the items they own. We cannot force a person to return your item. If you are having a problem getting a lent item returned, we highly recommend that you contact your local police department.</p>


<strong>Q: How can I find my friends?</strong>

<p>A: The easiest way to get in touch with your friends is to have them give you their Magenta Backpack username. A searching feature will be coming in the near future!</p>


<strong>Q: What can I do on this website?</strong>

<p>A: We are so happy you asked! Magenta Backpack is a website that allows friends to come together, create clubs, and share their items! A full description of who we are and what we do can be found on our about page!</p>
{% endblock %}

