{% extends "help_app/help_base.html" %}
{% block content %}
<h3>Thingys</h3>
<p>A "thingy" is simply a blanket term used for any one item that you own.</p>

<strong>Creating A Thingy</strong>
<p>To create a thingy, simply click the "My Thingys" drop-down menu. A small list will appear with several options. We are looking for the "Add a Thingy" option. After clicking, you will see a screen prompting you to enter a short and long description. After typing your descriptions, select the type of your thingy (either Book, Music, Movie, Game, Sport, Tool, or Other) that best describes the item you want to list. Make sure the Lendable box is checked and click "Save". After that, your thingy will have been listed for any of your club members to see!</p>

<strong>Editing A Thingy</strong>
<p>To edit a thingy, click the "My Thingys" drop-down menu. In the list of items that appear, click the "My Thingys" item and you will be directed to a list of all the thingys that you have listed. Find the item you want to edit and click on it. This takes you to a detailed page about your thingy. At the bottom, you will see three color-coded options. Click the "Edit this item" button. You'll be redirected to the same screen that you saw when you created your thingy, only this time, the information you typed previously will be displayed. Edit any information you see fit and click "Save".</p>

<strong>Deleting A Thingy</strong>
<p>To delete a thingy, follow the same instructions needed to edit it. However, when you see the three color-coded options, click the "Delete" button. A message will appear asking you to confirm your deletion. Click the confirmation button and you will delete the item and be returned to the thingys list.</p>
{% endblock %}

