{%  for thingy in object_list %}
<div class="col-lg-4 col-md-6 col-sm-12">
  <div class="thumbnail">
{#    <img src="http://lorempixel.com/320/150" alt="">#}
    <div class="caption">
      {% if viewing_member == thingy.owner %}
      <h4><a href="{% url 'thingys:mydetail' thingy.pk %}">{{ thingy.shortDescription }}</a></h4>
{% else %}
      <h4><a href="{% url 'thingys:detail' thingy.pk %}">{{ thingy.shortDescription }}</a>
        {% endif %}</h4>
      {% if show_owner_info %}
      <p class=thingy_owner_line>Owned by <span class=name>{{ thingy.owner }}</span></p>
      {% endif %}
{# truncatedLongDescription takes a numeric param, not sure how (if possible) to pass from template #}
      <p>{{ thingy.truncatedLongDescription }}</p>
    </div>
  </div>
</div>
<!-- <li><a href="{% url 'thingys:mydetail' thingy.pk %}">{{ thingy.shortDescription }}</a></li> -->
{% endfor %}