{% extends "base.html" %}

<div class="container">
    <div class="row">
        <!-- {% block title %}Welcome Back{% endblock %} -->
        <!-- {% block head %}Welcome, {{ user.first_name|upper }}{% endblock %} -->
        {% block content %}
            <div class="col-md-1"></div>
            <div class="container col-md-4">
            <h3>Player Detail View</h3>
            <h5 style="color:darkorange"><b>Database Item: </b>{{ player.pk }}</h5>
            {# TODO: Delete Database Item key from template #}
             <table style="width:100%">
  <tr>
    <td style="white-space:nowrap;"><b>Name  &nbsp;</b> </td>
    <td style="white-space:nowrap;"><b>Pos  &nbsp;</b></td>
    <td style="white-space:nowrap;"><b>Fantasy Pts  &nbsp;</b></td>
    <td style="white-space:nowrap;"><b>Fantasy PPG  &nbsp;</b> </td>
    <td style="white-space:nowrap;"><b>Games Played  &nbsp;</b></td>
    <td style="white-space:nowrap;"><b>Pass Yds  &nbsp;</b> </td>
    <td style="white-space:nowrap;"><b>Pass TDs  &nbsp;</b> </td>
    <td style="white-space:nowrap;"><b>Rush Yds  &nbsp;</b> </td>
    <td style="white-space:nowrap;"><b>Rush TDs  &nbsp;</b> </td>
    <td style="white-space:nowrap;"><b>Rec Yds  &nbsp;</b> </td>
    <td style="white-space:nowrap;"><b>Rec TDs  &nbsp;</b> </td>
    <td style="white-space:nowrap;"><b>Fum Lost  &nbsp;</b> </td>
    <td style="white-space:nowrap;"><b>Sacks  &nbsp;</b> </td>
    <td style="white-space:nowrap;"><b>Fum Recovered  &nbsp;</b> </td>
    <td style="white-space:nowrap;"><b>Ints  &nbsp;</b> </td>
    <td style="white-space:nowrap;"><b>Def TDs  &nbsp;</b> </td&nbsp;>
    <td style="white-space:nowrap;"><b>Safety  &nbsp;</b></td>
    <td style="white-space:nowrap;"><b>FG  &nbsp;</b> </td>
    <td style="white-space:nowrap;"><b>FG Miss  &nbsp;</b> </td>
    <td style="white-space:nowrap;"><b>Ex Pts  &nbsp;</b> </td>
  </tr>
  <tr>
    <td style="white-space:nowrap;">{{ player.name }} &nbsp;</td>
    <td>{{ player.pos }}</td>
    <td>{{ player.fptsrecyds }}</td>
    <td>{{ player.fptsg }}</td>
    <td>{{ player.gp }}</td>
    <td>{{ Player.pyds }}</td>
    <td>{{ player.ptd }}</td>
    <td>{{ player.ryd }}</td>
    <td>{{ player.rtd }}</td>
    <td>{{ player.recyds }}</td>
    <td>{{ player.rectd }}</td>
    <td>{{ player.fum }}</td>
    <td>{{ player.sack }}</td>
    <td>{{ player.fr }}</td>
    <td>{{ player.intercept }}</td>
    <td>{{ player.td }}</td>
    <td>{{ player.sfty }}</td>
    <td>{{ player.fg }}</td>
    <td>{{ player.fgmiss }}</td>
    <td>{{ player.xpt }}</td>
  </tr>
</table> 
<br>
</br>
<div class="col-md-4"></div>

<!-- <div class="col-md-4"></div> -->
<!-- <div class="col-md-4"> -->
<center><a href="{<!-- % url 'asks:requestingNew' Players.pk % -->}" class="btn btn-lg btn-primary btn-block">Add to Queue</a></center>
</div>
<!-- <div class="col-md-4"></div> -->
{% endblock %}
        </div>
        <div class="col-md-4"></div>
