{%  for player in object_list %}
<div class="col-lg-4 col-md-6 col-sm-12">
  <div class="thumbnail">
{#    <img src="http://lorempixel.com/320/150" alt="">#}
    <div class="caption">
      <!-- {% if viewing_member == thingy.owner %} -->
      <h4><a href="{% url 'Players:mydetail' player.pk %}">{{ player.name }}</a></h4>
<!-- {% else %} -->
      <h4><a href="{% url 'Players:detail' player.pk %}">{{ player.pos }}</a>
        <!-- {% endif %} -->
    </h4>
      <!-- {% if show_owner_info %} -->
      <p class=player_owner_line>Owned by <span class=name>{{ player.owner }}</span></p>
      <!-- {% endif %} -->
{# truncatedLongDescription takes a numeric param, not sure how (if possible) to pass from template #}
      <p>{{ player.truncatedLongDescription }}</p>
    </div>
  </div>
</div>
<li><a href="{% url 'Players:mydetail' player.pk %}">{{ player.shortDescription }}</a></li>
{% endfor %}