<!-- Modal -->
<div class="modal fade" id="WTF_Modal_Page" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        We think Magentabackpack solves one big problem in your life: How can you ask to borrow your friends' movies when you don't know what all they have?
      </div>
      <!-- TODO: Not sure how to wire the buttons at the bottom to actual actions -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Got It!</button>
      </div>
    </div>
  </div>
</div>